<form nz-form [formGroup]="validateForm" style="margin-top: 20px; text-align: center;" (submit)="submitForm()">
    <input nz-input placeholder="Enter Keyword to search" nzSize="large" style="width: 20%;" formControlName="title" />
    <button nz-button [nzSize]="size" nzType="primary" style="margin-left: 15px;"
        [disabled]="validateForm.invalid">Search</button>
</form>


<div style="background-color: #F8F8F8; min-height: 91vh;">

    <div style="padding-top: 10px;"></div>

    <div style="margin-top:10px;" class="child" *ngFor="let category of categories">
         <div nz-row>
            <div nz-col nzSpan="8">
                <img class="profile" style="height: 130px; width: 200px; border-radius: 10px;"
                    [src]="category.processedImg" alt="profile" />
            </div>
            <div nz-col nzSpan="16">
                <h2 style="cursor: pointer; color: #108ee9;">
                    {{category.name}}
                </h2>
                <hr>
                <h5>Description: <b>{{category.description}}</b></h5>
                <hr>
                <h5>Price: <b>{{ category.price | currency:'PHP':'symbol' }}</b></h5>
                <hr>
                <div style="float: right;">
                    <!--<button nzSize="small" nz-button nzType="primary"
                        routerLink="/admin/{{category.id}}/products">View Products</button>
                    <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary"
                        routerLink="/admin/{{category.id}}/product">Post Product</button>-->
                    <button nzSize="small" nz-button nzType="default" (click)="showUpdateModal(category)">Update</button>
                    <button style="margin-left: 10px;" nzSize="small" nz-button nzDanger nzType="primary" (click)="deleteCategory(category.id)">Delete</button>
                </div>
            </div>
        
        
        </div>   
    </div>

</div>

<!-- Update Modal -->
<nz-modal [(nzVisible)]="isUpdateModalVisible" nzTitle="Update Category" (nzOnCancel)="handleUpdateCancel()" (nzOnOk)="handleUpdateOk()">
  <div *nzModalContent>
    <form nz-form [formGroup]="updateForm">
      <nz-form-item>
        <nz-form-label>Name</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="name" placeholder="Category Name" />
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label>Description</nz-form-label>
        <nz-form-control>
          <textarea nz-input formControlName="description" placeholder="Category Description" rows="4"></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Price</nz-form-label>
        <nz-form-control>
          <input nz-input type="number" min="0" step="0.01" formControlName="price" placeholder="Price" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</nz-modal>
